.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.title {
  color: var(--purple-font-color);
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-self: flex-start;
  align-self: center;
}

.aboutMe {
  font-size: 15px;
  text-align: center;
  margin: 0 40px;
  line-height: 2;
  padding-bottom: 20px;
  justify-self: center;
  align-self: center;
}

@media screen and (min-width: 1025px) {
  .aboutMe {
    margin: 0 300px;
    font-size: 20px;
  }

  .title {
    font-size: 60px;
    margin-bottom: 70px;
  }
}
