.footer {
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: row;
  text-align: center;
  height: 40vh;
  background-color: var(--purple-font-color);
  color: white;
}

.footer h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}

.footer a {
  margin-top: 40px;
  color: inherit;
  font-size: 24px;
}

@media screen and (min-width: 1025px) {
  .footer h1 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .footer a {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}
