.footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  text-align: center;
  height: 40vh;
  background-color: var(--purple-font-color);
  color: white;
}

.footer h1 {
  font-size: 30px;
  font-weight: 700;
  margin-top: 30px;
}

.footer p {
  margin-top: 50px;
  text-decoration: underline;
  font-size: 24px;
}
