.mobile-header a {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 50px;
  margin-right: 40px;
}

.fadeIn {
  animation: fadeIn 1s ease-in;
  /* animation-delay: 1s; */
}

nav {
  padding: 30px;
  margin-bottom: 50px;
}

.burger {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
