.header {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--purple-font-color);
}

.mobile-header a {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  text-decoration: none;
  color: inherit;
  margin-bottom: 50px;
  margin-right: 40px;
}

.desktop-menu {
  display: flex;
  justify-content: flex-end;
}

.desktop-menu a {
  font-size: 20px;
  margin-right: 30px;
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease;
}

.desktop-menu a:hover {
  color: var(--pink-hover-color);
}

.fadeIn {
  animation: fadeIn 1.3s ease-in;
  /* animation-delay: 1s; */
}

nav {
  padding: 30px;
  margin-bottom: 80px;
}

@media screen and (min-width: 1025px) {
  nav {
    margin-bottom: 0;
  }
}

.burger {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
