.menu {
  position: absolute;
  font-size: 1.7em;
  background: var(--modal-bg-color);
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  padding-top: 100px;
  transform-origin: right;
  /* transition: width 0.3s ease-in-out; */
  color: white;
}

.menu a {
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.show {
  transition: transform 0.2s ease-in-out;
  transform: scaleX(1);
}

.exit {
  transition: transform 0.2s ease-in-out;
  transform: scaleX(0);
}

@keyframes slideOut {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes slideRight {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
