.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  color: var(--purple-font-color);
  font-size: 40px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 50px;
}
