.socials {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  justify-content: center;
}

.socials a {
  margin-right: 40px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  cursor: pointer;
  transition-duration: 0.3s;
  transition-property: transform;
}

.socials a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.socials a:last-child {
  margin-right: 0;
}
